/*! responsivectabuilder.com v2.0.0 | github.com/buildbetterCTAs/cta.css */

// CLASS NAMESPACE
$namespace: "rcta"

// VARS
$buttonHeight: 40px
$buttonHeightLarge: 54px

$mediumLargeScreen: 1025px
$mediumScreen: 768px
$smallScreen: 600px
$smallerScreen: 425px
$tinyScreen: 320px

$mediumLargeAndDown: "only screen and (max-width: #{$mediumLargeScreen})" !default
$mediumAndDown: "only screen and (max-width: #{$mediumScreen})" !default
$smallAndDown: "only screen and (max-width: #{$smallScreen})" !default
$smallerAndDown: "only screen and (max-width: #{$smallerScreen})" !default
$tinyAndDown: "only screen and (max-width: #{$tinyScreen})" !default

// STYLES
.#{$namespace}_embed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-radius: 4px
  box-sizing: border-box
  margin-bottom: 1rem
  margin-top: 1rem
  padding: 48px
  width: 100%

  @media #{$mediumAndDown}
    padding: 40px
  @media #{$smallAndDown}
    padding: 32px
  @media #{$smallerAndDown}
    padding: 24px
  @media #{$tinyAndDown}
    padding: 18px


  .#{$namespace}_columns
    display: flex

    .#{$namespace}_column
      display: block
      // flex-basis: 0
      flex-grow: 1
      flex-shrink: 1


  .#{$namespace}_headline
    display: block
    font-size: 40px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 16px
    margin-top: 0

    @media #{$mediumAndDown}
      font-size: 36px
    @media #{$smallAndDown}
      font-size: 32px
    @media #{$smallerAndDown}
      font-size: 28px
    @media #{$tinyAndDown}
      font-size: 24px


  .#{$namespace}_description
    display: block
    font-size: 20px
    font-weight: normal
    margin-bottom: 16px

    @media #{$smallerAndDown}
      font-size: 18px


  .#{$namespace}_button
    border-radius: 2px
    display: inline-block
    font-size: 16px
    font-weight: bold
    height: $buttonHeight
    letter-spacing: .5px
    line-height: $buttonHeight
    padding: 0 32px
    text-decoration: none
    text-transform: uppercase

    &.#{$namespace}_button-hubl
      a
        color: inherit

        &:hover
          color: inherit !important
          text-decoration: none

      span
        font-size: 16px
        line-height: $buttonHeight
        text-transform: initial

    @media #{$mediumAndDown}
      height: $buttonHeightLarge
      line-height: $buttonHeightLarge
      margin-top: 8px

    @media #{$smallAndDown}
      height: auto
      line-height: 2
      padding: 8px
      text-align: center
      width: 100%


  .#{$namespace}_image
    max-width: 50%
    padding-right: 48px

    @media #{$mediumLargeAndDown}
      display: none
